<h4 class="text-center mt-4">Registre-se e mostre seu pet ao mundo</h4>
<form class="form mt-4 align-items-center">
  <div class="form-group">
    <input class="form-control" placeholder="E-mail" />
  </div>
  <div class="form-group">
    <input class="form-control" placeholder="Nome Completo" />
  </div>
  <div class="form-group">
    <input class="form-control" placeholder="Nome de Usuário" />
  </div>
  <div class="form-group">
    <input class="form-control" type="password" placeholder="Senha" />
  </div>
  <button class="btn btn-primary btn-block">Registrar</button>
</form>
<p class="mt-2">Já possui cadastro?<a [routerLink]="['']"> Entrar</a></p>
