<h4 class="text-center mt-4">Registre-se e mostre seu pet ao mundo</h4>
<form
  class="form mt-4 align-items-center"
  [formGroup]="novoUsuarioForm"
  (submit)="cadastrar()"
>
  <div class="form-group">
    <input class="form-control" placeholder="E-mail" formControlName="email" />
  </div>
  <div class="form-group">
    <input
      class="form-control"
      placeholder="Nome Completo"
      formControlName="fullName"
    />
  </div>
  <div class="form-group">
    <input
      class="form-control"
      placeholder="Nome de Usuário"
      formControlName="userName"
    />
  </div>
  <div class="form-group">
    <input
      class="form-control"
      type="password"
      placeholder="Senha"
      formControlName="password"
    />
  </div>
  <button class="btn btn-primary btn-block">Registrar</button>
</form>
<p class="mt-2">Já possui cadastro?<a [routerLink]="['']"> Entrar</a></p>
